@charset 'UTF-8';

/* PRIMARY PALETTE */

/*************
 * Grayscale *
 *************/
$white: #ffffff;
$background-gray-9: #f4f4f4;
$background-gray-8: #e5e5e5;
$safe-gray-7: #cccccc;
$gray-6: #b0b0b0;
$safe-gray-5: #999999;
$gray-4: #787878;
$alt-text-gray-3: #585858;
$alt-text-gray-2: #4a4a4a;
$alt-text-gray-1: #363636;
$black: #1f1f1f;

/*************
 * Knot Blue *
 *************/
$knot-blue-lighter-90: #f1f9fd;
$knot-blue-lighter-80: #e2f4fc;
$knot-blue-lighter-70: #d4effb;
$knot-blue-lighter-60: #c6e9f9;
$knot-blue-lighter-50: #b8e4f8;
$knot-blue-lighter-40: #aadff7;
$knot-blue-lighter-30: #9cdaf5;
$knot-blue-lighter-20: #8ed4f4;
$knot-blue-lighter-10: #80cff3;
$knot-blue: #72caf2;
$knot-blue-darker-10: #69b8dc;
$knot-blue-darker-20: #61a7c7;
$knot-blue-darker-30: #5896b1;
$knot-blue-darker-40: #50859d;
$knot-blue-darker-50: #487488;
$knot-blue-darker-60: #406373;

/***********
 * Coral *
 ***********/
$coral-lighter-90: #fceeec;
$coral-lighter-80: #faddd9;
$coral-lighter-70: #f7ccc7;
$coral-lighter-60: #f5bbb4;
$coral-lighter-50: #f2aaa2;
$coral-lighter-40: #f0998f;
$coral-lighter-30: #ed887d;
$coral-lighter-20: #eb776a;
$coral-lighter-10: #e86657;
$coral: #e65545;
$coral-darker-10: #e04a3a;
$coral-darker-20: #da402f;
$coral-darker-30: #cf3525;
$coral-darker-40: #c42c1c;

/***********
 * Alt Blue, Might be changed? *
 ***********/
$alt-blue-lighter-90: #ecf6fa;
$alt-blue-lighter-80: #daecf4;
$alt-blue-lighter-70: #c8e3ef;
$alt-blue-lighter-60: #b5daea;
$alt-blue-lighter-50: #a3d1e5;
$alt-blue-lighter-40: #90c8e0;
$alt-blue-lighter-30: #7ebfdb;
$alt-blue-lighter-20: #6bb6d6;
$alt-blue-lighter-10: #59add1;
$alt-blue: #47a4cc;
$alt-blue-darker-10: #4296ba;
$alt-blue-darker-20: #3e89a9;
$alt-blue-darker-30: #3a7b97;
$alt-blue-darker-40: #366e86;
$alt-blue-darker-50: #336175;
$alt-blue-darker-60: #2f5464;
$alt-blue-darker-70: #2b4652;
$alt-blue-darker-80: #273941;
$alt-blue-darker-90: #222c30;

/* SECONDARY PALETTE */

/*************
 * Jay *
 *************/
$jay-lighter-90: #ecf5f7;
$jay-lighter-80: #daeaef;
$jay-lighter-70: #c8e0e8;
$jay-lighter-60: #b5d6e0;
$jay-lighter-50: #a3ccd8;
$jay-lighter-40: #90c1d0;
$jay-lighter-30: #7eb7c9;
$jay-lighter-20: #6badc1;
$jay-lighter-10: #59a3b9;
$jay: #4799b2;
$jay-darker-10: #3793af;
$jay-darker-20: #2c8caa;
$jay-darker-30: #1885a7;
$jay-darker-40: #097fa3;

/*************
 * Peacock *
 *************/
$peacock-lighter-90: #edf7f8;
$peacock-lighter-80: #dbf0f1;
$peacock-lighter-70: #cae9ea;
$peacock-lighter-60: #b8e2e3;
$peacock-lighter-50: #a6dbdc;
$peacock-lighter-40: #94d3d5;
$peacock-lighter-30: #83ccce;
$peacock-lighter-20: #71c5c7;
$peacock-lighter-10: #60bec1;
$peacock: #4eb7ba;
$peacock-darker-10: #36aeb2;
$peacock-darker-20: #0ea4a8;
$peacock-darker-30: #019ca0;
$peacock-darker-40: #069396;

/*************
 * Jade *
 *************/
$jade-lighter-90: #ecf7f4;
$jade-lighter-80: #daefe9;
$jade-lighter-70: #c8e8de;
$jade-lighter-60: #b5e0d3;
$jade-lighter-50: #a3d8c8;
$jade-lighter-40: #90d0bd;
$jade-lighter-30: #7ec9b2;
$jade-lighter-20: #6bc1a7;
$jade-lighter-10: #59b99d;
$jade: #47b292;
$jade-darker-10: #3cad8b;
$jade-darker-20: #23a981;
$jade-darker-30: #1da57c;
$jade-darker-40: #089e71;

/*************
 * Berry *
 *************/
$berry-lighter-90: #f9eff2;
$berry-lighter-80: #f3e0e6;
$berry-lighter-70: #edd1da;
$berry-lighter-60: #e7c1cd;
$berry-lighter-50: #e1b2c1;
$berry-lighter-40: #dba2b4;
$berry-lighter-30: #d593a8;
$berry-lighter-20: #cf839b;
$berry-lighter-10: #c9748f;
$berry: #c36583;
$berry-darker-10: #be5777;
$berry-darker-20: #bc4f71;
$berry-darker-30: #b64568;
$berry-darker-40: #b03a5f;

/* TERTIARY PALETTE */

/*************
 * Mint *
 *************/
$mint-lighter-90: #f4faf7;
$mint-lighter-80: #e8f6f0;
$mint-lighter-70: #c8e3ef;
$mint-lighter-60: #d2eee1;
$mint-lighter-50: #c7eada;
$mint-lighter-40: #bbe5d3;
$mint-lighter-30: #b0e1cc;
$mint-lighter-20: #a5ddc4;
$mint-lighter-10: #9ad9bd;
$mint: #8fd5b6;
$mint-darker-10: #83c2a6;
$mint-darker-20: #78b097;
$mint-darker-30: #6c9d88;
$mint-darker-40: #618b79;

/*************
 * Lemon *
 *************/
$lemon-lighter-90: #fefce9;
$lemon-lighter-80: #fefad2;
$lemon-lighter-70: #fdf7bc;
$lemon-lighter-60: #fdf5a6;
$lemon-lighter-50: #fcf390;
$lemon-lighter-40: #fcf079;
$lemon-lighter-30: #fbee64;
$lemon-lighter-20: #fbeb4d;
$lemon-lighter-10: #fae937;
$lemon: #fae721;
$lemon-darker-10: #ebd814;
$lemon-darker-20: #e4d003;

/*************
 * Salmon *
 *************/
$salmon-lighter-90: #fdf2f3;
$salmon-lighter-80: #fce5e7;
$salmon-lighter-70: #fbd9db;
$salmon-lighter-60: #f9cccf;
$salmon-lighter-50: #f8c0c3;
$salmon-lighter-40: #f7b3b7;
$salmon-lighter-30: #f5a7ab;
$salmon-lighter-20: #f49a9f;
$salmon-lighter-10: #f38d93;
$salmon: #f28187;
$salmon-darker-10: #f0757c;
$salmon-darker-20: #ea6b72;
$salmon-darker-30: #eb626a;
$salmon-darker-40: #e65962;

/*************
 * Flamingo *
 *************/
$flamingo-lighter-90: #fdf2f6;
$flamingo-lighter-80: #fce5ed;
$flamingo-lighter-70: #fbd9e4;
$flamingo-lighter-60: #f9ccdb;
$flamingo-lighter-50: #f8bfd2;
$flamingo-lighter-40: #f7b2c9;
$flamingo-lighter-30: #f5a6c0;
$flamingo-lighter-20: #f499b7;
$flamingo-lighter-10: #f38caf;
$flamingo: #f280a6;
$flamingo-darker-10: #f0759e;
$flamingo-darker-20: #e66691;
$flamingo-darker-30: #e25585;
$flamingo-darker-40: #d64676;

/*************
 * Lilac *
 *************/
$lilac-lighter-90: #f4f3f7;
$lilac-lighter-80: #e9e7f0;
$lilac-lighter-70: #dfdbe9;
$lilac-lighter-60: #d4cfe1;
$lilac-lighter-50: #c9c3da;
$lilac-lighter-40: #beb7d3;
$lilac-lighter-30: #b4abcc;
$lilac-lighter-20: #a99fc4;
$lilac-lighter-10: #9e94bd;
$lilac: #9488B6;
$lilac-darker-10: #877da6;
$lilac-darker-20: #7c7297;
$lilac-darker-30: #706788;
$lilac-darker-40: #645d79;

/*************
 * Gilt *
 *************/
$gilt-lighter-90: #faf5ec;
$gilt-lighter-80: #f5ecd9;
$gilt-lighter-70: #f0e2c6;
$gilt-lighter-60: #ebd9b3;
$gilt-lighter-50: #e7cfa0;
$gilt-lighter-40: #e2c68d;
$gilt-lighter-30: #ddbc7b;
$gilt-lighter-20: #d8b367;
$gilt-lighter-10: #d3a955;
$gilt: #cfa042;
$gilt-darker-10: #c09235;
$gilt-darker-20: #b3872d;
$gilt-darker-30: #a57a21;
$gilt-darker-40: #9a6e13;

/* UTILITY PALETTE */

$coral-lighter-8-saturated: #e72914;
