@value black from '@xo-union/tk-css-colors';
@value ( caret-up, caret-down ) from '@xo-union/tk-component-icons/lib/legacy';
@value ( spacer-x ) from '../shared/spacing';
@value ( black-border ) from '../shared/borders';

.dropdown-field {
  composes: field from '../styles/field';

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  color: transparent;
  text-shadow: 0 0 0 black;

  &:not(:focus) ~ .dropdown-caret::before {
    content: caret-down;
  }

  &:focus ~ .dropdown-caret::before {
    content: caret-up;
  }
}

.dropdown-caret {
  composes: icon from '@xo-union/tk-component-icons/lib/legacy';

  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
  margin-right: 1rem;
}

.dropdown-list {
  /*ul-reset*/
  padding: 0;
  margin: 0;
  list-style: none;

  display: none;

  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  border-bottom: black-border;
  border-left: black-border;
  border-right: black-border;
}

.dropdown-field:focus ~ * .dropdown-list {
  display: block;
}

