@value ( var-gray-4, var-background-gray-8, var-black ) from '@xo-union/tk-css-colors';

.dropdown-item-base {
  composes: p-down-1 from '@xo-union/tk-css-spacing';
  composes: font-up-1 from '@xo-union/tk-css-typography';

  cursor: pointer;
  position: relative;

  &:hover {
    color: var-black;
  }
}

.dropdown-item {
  composes: dropdown-item-base;
  composes: fg-gray-4 from '@xo-union/tk-css-colors';
}

.dropdown-item-is-selected {
  composes: dropdown-item-base;
  composes: bg-background-gray-8 fg-black from '@xo-union/tk-css-colors';

  .dropdown-item-check {
    display: inline-block;
  }
}

.dropdown-item-check {
  composes: icon-checkmark-selected-state from '@xo-union/tk-component-icons/lib/legacy';
  composes: m-up-1 from '@xo-union/tk-css-spacing';
  composes: font-down-4 from '@xo-union/tk-css-typography';
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
