@value ( gray-9-border, gray-10-border, black-border ) from '../shared/borders';
@value ( var-gray-10 ) from '@xo-union/tk-css-colors';

.field-base {
  composes: font-up-1 from '@xo-union/tk-css-typography';
  -webkit-appearance: none;
  border: gray-9-border;
  // Fix firefox render error
  box-shadow: none;
  width: 100%;
  position: relative;
  display: block;

  &:focus {
    outline: 0;
  }

  &:not(.disable-interactive-states) {
    &:hover,
    &:focus {
      border: black-border;
    }
  }

  &:disabled {
    background-color: var-gray-10;
    border: gray-10-border;
  }
}

