@value (
  var-safe-gray-7,
  var-black,
  var-green-lighter-80
  var-red-lighter-90
) from '@xo-union/tk-css-colors';

@value ( var-fs-down-4, var-fs-down-1, var-fs-base ) from '@xo-union/tk-css-typography';

@value (
  var-sp-down-1,
  var-sp-down-3
) from '@xo-union/tk-css-spacing';

.field {
  composes: field-base from '../styles/field-base';
  composes: px-down-2 pt-base pb-down-3 from '@xo-union/tk-css-spacing';

  &:not(:placeholder-shown) ~ .field-label,
  &:focus ~ .field-label {
    font-size: var-fs-down-4;
    margin-top: var-sp-down-3;
    color: var-black;
  }

  &:disabled ~ .field-label {
    color: var-safe-gray-7;
    text-decoration: line-through;
  }
}

.invalid-field {
  composes: disable-interactive-states from './field-base';
  composes: bg-red-lighter-90 from '@xo-union/tk-css-colors';
  composes: field;

  transition: background-color 0.1s ease-out 0.1s;
}

.valid-field {
  composes: bg-green-lighter-80 from '@xo-union/tk-css-colors';
  composes: disable-interactive-states from './field-base';
  composes: field;
}

.requirements {
  composes: bg-red fg-white from '@xo-union/tk-css-colors';
  composes: font-down-2 from '@xo-union/tk-css-typography';

  max-height: 0;
  overflow: hidden;
  transition: all 0.1s ease-out 0.1s;
}

/* Contextual styles */
.invalid-field ~ .requirements {
  max-height: 200px;

  padding: var-sp-down-3 var-sp-down-1;
}

.field-label {
  composes: ml-down-2 from '@xo-union/tk-css-spacing';
  composes: fg-gray-6 from '@xo-union/tk-css-colors';

  composes: label from '../styles/label';

  font-size: var-fs-base;
  margin-top: var-sp-down-1;
  transition: all 0.2s ease-out;
  transition-property: font-size,margin;
}

