@value (
  safe-gray-7,
  black,
  green-lighter-80
) from '@xo-union/tk-css-colors';

@value ( red-border ) from '../shared/borders';
@value ( font-down-4 ) from '@xo-union/tk-css-typography/lib/sizes';

@value (
  spacing-down-1,
  spacing-down-3
) from '@xo-union/tk-css-spacing/lib/variables';

.field {
  composes: field-base from '../styles/field-base';
  composes: px-down-2 pt-base pb-down-1 from '@xo-union/tk-css-spacing';

  &:not(:placeholder-shown) ~ .field-label,
  &:focus ~ .field-label {
    font-size: font-down-4;
    margin-top: spacing-down-3;
    color: black;
  }

  &:disabled ~ .field-label {
    color: safe-gray-7;
    text-decoration: line-through;
  }
}

.invalid-field {
  composes: field;
  composes: red-lighter-90-bg from '@xo-union/tk-css-colors/lib/utilities';

  // Annoying that !important is
  // necessary for this to work
  border: red-border !important;
  transition: all 0.2s ease-out 1.5s;
}

.valid-field {
  composes: green-lighter-80-bg from '@xo-union/tk-css-colors/lib/utilities';
  composes: field;
  border-color: green-lighter-80 !important;
}

.requirements {
  composes: red-bg white-fg from '@xo-union/tk-css-colors/lib/utilities';
  composes: font-down-2 from '@xo-union/tk-css-typography';
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out 1.5s;
}

/* Contextual styles */
.invalid-field ~ .requirements {
  max-height: 200px;
  
  padding: spacing-down-3 spacing-down-1;
}

.field-label {
  composes: label from '../styles/label';
  composes: ml-down-2 from '@xo-union/tk-css-spacing';
  composes: font-up-1 from '@xo-union/tk-css-typography';
  composes: gray-6-fg from '@xo-union/tk-css-colors/lib/utilities';
  margin-top: spacing-down-1;
  transition: all 0.2s ease-out;
}

