@value var-black from '@xo-union/tk-css-colors';

.label {
  position: absolute;
  top: 0;
  left: 0;
  cursor: text;
}

.small-label {
  composes: label;
  composes: font-down-4 from '@xo-union/tk-css-typography';
}
