@value ( var-gray-6 ) from '@xo-union/tk-css-colors';
@value ( var-fs-up-1 ) from '@xo-union/tk-css-typography';

.textarea {
  composes: radius-reset from '../shared/resets';
  composes: field-base from '../styles/field-base.scss';

  outline: 0;
  composes: fg-black from '@xo-union/tk-css-colors';
  resize: none;

  &::placeholder {
    color: var-gray-6;
    font-size: var-fs-up-1;
  }
  &::-ms-input-placeholder {
    color: var-gray-6;
    font-size: var-fs-up-1;
  }
  &::-webkit-input-placeholder {
    color: var-gray-6;
    font-size: var-fs-up-1;
  }
}

.textarea-without-label {
  composes: textarea;
  composes: pt-down-1 px-down-2 pb-down-3 from '@xo-union/tk-css-spacing';
}

.textarea-with-label {
  composes: textarea;
  composes: pt-up-1 px-down-2 pb-down-5 from '@xo-union/tk-css-spacing';
}

.textarea-label {
  composes: small-label from '../styles/label';
  composes: ml-down-2 mt-down-2 from '@xo-union/tk-css-spacing';
  composes: fg-black from '@xo-union/tk-css-colors';
}
