@value ( black, gray-6 ) from '@xo-union/tk-css-colors';
@value ( spacer-x ) from '../shared/spacing';
@value ( font-up-1 ) from '@xo-union/tk-css-typography/lib/sizes';

.textarea {
  composes: radius-reset from '../shared/resets';
  composes: field-base from '../styles/field-base.scss';

  outline: 0;
  color: black;
  resize: none;

  &::placeholder {
    color: gray-6;
    font-size: font-up-1;
  }
  &::-ms-input-placeholder {
    color: gray-6;
    font-size: font-up-1;
  }
  &::-webkit-input-placeholder {
    color: gray-6;
    font-size: font-up-1;
  }
}

.textarea-without-label {
  composes: textarea;
  composes: pt-down-1 px-down-1 pb-down-3 from '@xo-union/tk-css-spacing';
}

.textarea-with-label {
  composes: textarea;
  composes: pt-up-2 px-down-1 pb-down-5 from '@xo-union/tk-css-spacing';
}

.textarea-label {
  composes: small-label from '../styles/label';
  composes: ml-down-1 mt-down-1 from '@xo-union/tk-css-spacing';
  composes: black-fg from '@xo-union/tk-css-colors/lib/utilities';
}
