@value ( purpulish-gray ) from '@components/Snippet/styles';
@value ( nav ) from '@xo-union/tk-css-bootstrap/lib/nav';

@value releases-list: nav;

.releases-section {
  background-color: purpulish-gray;
}

.release-item {
  padding: .3rem;
}

.release-notes {
  padding: 1rem;
}
