@value ( black, white ) from '@xo-union/colors';

@value tmp-header-color: #1388bb;

.header-nav {
  background-color: tmp-header-color;
}

.nav-link {
  composes: nav-link from '@xo-union/bootstrap/nav';
  color: white;
  padding: 1.3em 1em;
}
