@value (
  black,
  white,
  knot-blue-darker-30,
  knot-blue-darker-60,
  safe-gray-5,
  background-gray-8
) from '@xo-union/colors';

@value nav-border-color: background-gray-8;
@value nav-item-hover-color: knot-blue-darker-30;
@value nav-item-active-color: knot-blue-darker-60;
@value nav-item-disabled-color: safe-gray-5;
@value nav-border: 1px solid nav-border-color;

.nav {
  composes: nav from '@xo-union/bootstrap/nav';
  composes: sans-serif from '@xo-union/typography';

  border-bottom: nav-border;
  background-color: white;
}

.logo {
  padding: 1em 2em;
}

.nav-item-container {
  padding: 1.3em 2em;
}

.nav-item {
  color: black;
}

.nav-item:hover {
  color: nav-item-hover-color;
}

.nav-item-container:hover .sub-nav {
  display: block;
}

.nav-item:focus {
  color: nav-item-active-color;
}

.active-item {
  composes: nav-item;
  color: nav-item-active-color;
}

.disabled-item {
  color: nav-item-disabled-color !important;
  cursor: default;
}

.sub-nav {
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 4.1em; /* Magic number :( */
  width: 100%;
  border-top: nav-border;
}
