@value ( white, background-gray-8 ) from '@xo-union/colors';
@value nav-border: 1px solid background-gray-8;

.nav {
  border-bottom: nav-border;
  background-color: white;
}

.groups-container {
  composes: d-flex justify-content-between from '@xo-union/bootstrap/utilities';
  composes: font-down-1 from '@xo-union/typography';
}
