@value ( gray-2 ) from 'shared/colors';
@value ( gray-90, white, gray-95 ) from '@union/colors';

/* Static */
@value ( container, field-container ) from 'styles/container';
@value ( field-label, invalid-field, requirements ) from 'styles/field';
@value ( textarea-label, textarea-without-label, textarea-with-label ) from 'styles/textarea';
@value ( dropdown-caret ) from 'styles/dropdown-field';
@value ( dropdown-item, dropdown-item-check ) from 'styles/dropdown-item';
@value ( group ) from 'styles/group';

.field {
  composes: field from 'styles/field';
}

.dropdown-field {
  composes: dropdown-field from 'styles/dropdown-field';
}

.dropdown-list {
  composes: dropdown-list from 'styles/dropdown-field';
}

.textarea-with-label {
  composes: textarea-with-label from 'styles/textarea';
}

.dropdown-item-is-focused {
  composes: dropdown-item-is-focused from 'styles/dropdown-item';
}

.gray-theme {
  .field, .dropdown-field, .dropdown-list, .textarea-with-label {
    background-color: gray-2;
  }

  .dropdown-item-is-focused {
    background-color: gray-90;
  }
}

.white-theme {
  .field, .dropdown-field, .dropdown-list, .textarea-with-label {
    background-color: white;
  }

  .dropdown-item-is-focused {
    background-color: gray-95;
  }
}
