@value serif-family tisa;
@value sans-serif-family tisa sans;

@function fonts-url($url) {
  $font-url-prefix: "~#assets/fonts";

  @return url('#{$font-url-prefix}/#{$url}');
}

@font-face {
  font-family: serif-family;
  src:
    fonts-url('tisa-light.woff2') format('woff2'),
    fonts-url('tisa-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: serif-family;
  src:
    fonts-url('tisa-medium.woff2') format('woff2'),
    fonts-url('tisa-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: sans-serif-family;
  src:
    fonts-url('tisa-sans-regular.woff2') format('woff2'),
    fonts-url('tisa-sans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
