.serif-light
{
  font-family: $font-family-serif;
  font-weight: 300;
}

.serif-med
{
  font-family: $font-family-serif;
  font-weight: 500;
}

.sans-serif
{
  font-family: $font-family-sans-serif;
  font-weight: 400;
}

.sans-serif-med {
  font-family: $font-family-sans-serif;
  font-weight: 500;
}
