@value ( var-white, var-jay-lighter-90 ) from '@xo-union/tk-css-colors';

.demo-for-gray-theme {
  composes: py-base from '@xo-union/tk-css-spacing';
  composes: bg-white from '@xo-union/tk-css-colors';
}

.demo-for-white-theme {
  composes: py-base from '@xo-union/tk-css-spacing';
  composes: bg-jay-lighter-90 from '@xo-union/tk-css-colors';
}
