@import '~#/_shared/bootstrap-overrides';

@value (
  white,
  coral,
  coral-lighter-10,
  coral-lighter-20,
  coral-lighter-40,
  coral-lighter-8-saturated
) from '@xo-union/colors';

@value papa-min-width: 220px;
@value mama-min-width: 120px;
@value baby-min-width: initial;

.btn {
  display: block;
  text-align: center;
  border-radius: 2px;
}

.papa {
  composes: font-up-1 from '@xo-union/typography';
  line-height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.mama {
  line-height: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.baby {
  composes: font-up-2 from '@xo-union/typography';
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.primary {
  color: white;
  background: coral-lighter-20;
  border: 1px solid coral-lighter-20;
  transition: all .2s ease-out;

  &:hover,
  &:focus {
    color: white;
    background: coral-lighter-10;
    border: 1px solid coral-lighter-10;
  }

  &:active{
    background: coral;
    border: 1px solid coral-lighter-10;
  }
}

.secondary {
  color: coral-lighter-20;
  background: white;
  border: 1px solid coral-lighter-40;
  transition: all .1s ease-out;

  &:hover,
  &:focus {
    color: coral;
    border: 1px solid coral-lighter-10;
  }

  &:active {
    color: coral-lighter-8-saturated;
    border: 1px solid coral-lighter-8-saturated;
  }
}

.tertiary {
  color: coral-lighter-20;
  background: white;
  border: 1px hidden coral-lighter-40;
  transition: all .1s ease-out;

  &:hover,
  &:focus {
    color: coral;
    border: 1px hidden coral-lighter-10;
  }

  &:active {
    color: coral-lighter-8-saturated;
    border: 1px hidden coral-lighter-8-saturated;
  }
}

@include media-breakpoint-up(xl) {
  .papa-xl-fitted {
    min-width: papa-min-width;
    display: inline-block;
  }
  .mama-xl-fitted {
    min-width: mama-min-width;
    display: inline-block;
  }
  .baby-xl-fitted {
    min-width: baby-min-width;
    display: inline-block;
  }
}

@include media-breakpoint-up(lg) {
  .papa-lg-fitted {
    min-width: papa-min-width;
    display: inline-block;
  }
  .mama-lg-fitted {
    min-width: mama-min-width;
    display: inline-block;
  }
  .baby-lg-fitted {
    min-width: baby-min-width;
    display: inline-block;
  }
}

@include media-breakpoint-up(md) {
  .papa-md-fitted {
    min-width: papa-min-width;
    display: inline-block;
  }
  .mama-md-fitted {
    min-width: mama-min-width;
    display: inline-block;
  }
  .baby-md-fitted {
    min-width: baby-min-width;
    display: inline-block;
  }
}

@include media-breakpoint-up(sm) {
  .papa-sm-fitted {
    min-width: papa-min-width;
    display: inline-block;
  }
  .mama-sm-fitted {
    min-width: mama-min-width;
    display: inline-block;
  }
  .baby-sm-fitted {
    min-width: baby-min-width;
    display: inline-block;
  }
}

@include media-breakpoint-up(xs) {
  .papa-xs-fitted {
    min-width: papa-min-width !important;
    display: inline-block;
  }
  .mama-xs-fitted {
    min-width: mama-min-width !important;
    display: inline-block;
  }
  .baby-xs-fitted {
    min-width: baby-min-width !important;
    display: inline-block;
  }
}
