@import './fonts';
@import './bootstrap-build';

.sans-serif {
  font-family: 'tisa sans', sans-serif;
}

.secondary-info {
  composes: sans-serif;

  font-weight: 300;
  font-style: normal;
  font-size: 21px;
  color: #1f1f1f;
  line-height: 30px;
  letter-spacing: 0;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
