.header {
  composes:
    serif-med
    font-up-3
    font-up-2-sm
  from '@xo-union/tk-css-typography';
  composes: mt-3 from '@xo-union/tk-css-utilities/lib/spacing';
  composes: text-center from '@xo-union/tk-css-typography/lib/utilities';
}

.sub-header {
  composes:
    serif-light
    font-down-1
    font-up-1-sm
  from '@xo-union/tk-css-typography';
  composes: mt-2 from '@xo-union/tk-css-utilities/lib/spacing';
  composes: text-center from '@xo-union/tk-css-typography/lib/utilities';
}
