.header {
  composes:
    serif-med
    font-up-3
    font-up-2-sm
  from '@xo-union/tk-css-typography';
  composes: mt-3 from '@xo-union/tk-css-utilities/lib/spacing';
  composes: text-center from '@xo-union/tk-css-typography/lib/utilities';
}

.log-in-header {
  composes: header;
  composes: mb-3 from '@xo-union/tk-css-utilities/lib/spacing';
}

.sub-header {
  composes:
    serif-light
    font-down-1
    font-up-1-sm
  from '@xo-union/tk-css-typography';
  composes: mt-2 from '@xo-union/tk-css-utilities/lib/spacing';
  composes: text-center from '@xo-union/tk-css-typography/lib/utilities';
}

.form-sub-text {
  composes: mt-2 from '@xo-union/tk-css-utilities/lib/spacing';
  composes: font-down-2 from '@xo-union/tk-css-typography';
  composes: text-center from '@xo-union/tk-css-typography/lib/utilities';

  small {
    font-size: inherit;
  }
}

@value ( black ) from '@xo-union/tk-css-colors';

.modal {
  composes: d-flex from '@xo-union/tk-css-utilities/lib/display';
  composes: flex-column from '@xo-union/tk-css-utilities/lib/flexbox';
  height: 100%;

  a, a:hover {
    color: black;
    text-decoration: underline !important;
  }
}

.footer {
  composes: text-center from '@xo-union/tk-css-typography/lib/utilities';
  composes: mt-auto mb-5 mb-md-0 from '@xo-union/tk-css-utilities/lib/spacing';
}
