@value colors: '@xo-union/tk-css-colors';
@value (
  var-gray-10,
  var-background-gray-9,
  var-background-gray-8,
  var-white
) from colors;

@mixin theme($base, $accent) {
  .field,
  .dropdown-field,
  .dropdown-list,
  .textarea,
  .textarea-label
  {
    background-color: $base;

    &:disabled {
      background-color: var-gray-10;
    }
  }

  .dropdown-item-is-selected {
    background-color: $accent;
  }
}


.field {
  composes: field from './styles/field';
}

.dropdown-field {
  composes: dropdown-field from './styles/dropdown-field';
}

.dropdown-list {
  composes: dropdown-list from './styles/dropdown-field';
}

.textarea {
  composes: textarea from './styles/textarea';
}

.textarea-label {
  composes: textarea-label from './styles/textarea';
}

.dropdown-item-is-selected {
  composes: dropdown-item-is-selected from './styles/dropdown-item';
}

.gray-theme {
  @include theme(var-background-gray-9, var-background-gray-8);
}

.white-theme {
  @include theme(var-white, var-background-gray-9);
}
