.desktop-header-nav {
  composes: base-desktop-nav from './base-desktop-nav';
  composes: popup-hide from './dropdown';
}

.desktop-nav-item-list {
  composes: justify-content-center from '@xo-union/tk-css-utilities/lib/flexbox';
  composes: nav-item-list from './nav-item-list';
}

.mobile-header-nav {
  composes: bg-knot-blue from '@xo-union/tk-css-colors';
  composes: nav-text-color from './nav-text-color';
  composes: hide-in-desktop from './hide-utilities';
  composes: has-menu-image from './menu-image';
}

.mobile-nav-item-list {
  composes: nav from '@xo-union/tk-css-bootstrap/lib/nav';
  composes: justify-content-between from '@xo-union/tk-css-utilities/lib/flexbox';
}

