@import 'device-mixins';

@value (
  white,
  knot-blue
) from '@xo-union/tk-css-colors';

@value ( font-up-8, font-up-6 ) from '@xo-union/tk-css-typography/lib/sizes';

@include in-desktop() {
  .logo {
    color: knot-blue !important;
    font-size: font-up-8;
  }
}

@include in-mobile() {
  .logo {
    color: white !important;
    font-size: font-up-6;
  }
}

.icon-container {
  composes: d-flex from '@xo-union/tk-css-utilities/lib/display';
  composes: align-items-center from '@xo-union/tk-css-utilities/lib/flexbox';
  composes: py-down-2 px-down-1 from '@xo-union/tk-css-spacing';
}

.icon-button {
  composes: d-flex from '@xo-union/tk-css-utilities/lib/display';
  composes: disable-children-pointer-events from '@xo-union/tk-css-utilities/lib/pointer-events';
  composes: button-reset from './resets';
}

.menu-icon {
  composes: font-up-3 from '@xo-union/tk-css-typography';
  composes: white-fg from '@xo-union/tk-css-colors/lib/utilities';
}

