@import 'device-mixins';

@value (
  var-white,
  var-knot-blue
) from '@xo-union/tk-css-colors';

@value ( var-fs-up-8, var-fs-up-6 ) from '@xo-union/tk-css-typography';

@include in-desktop() {
  .logo {
    color: var-knot-blue !important;
    font-size: var-fs-up-8;
  }
}

@include in-mobile() {
  .logo {
    color: var-white !important;
    font-size: var-fs-up-6;
  }
}

.icon-container {
  composes: d-flex from '@xo-union/tk-css-utilities/lib/display';
  composes: align-items-center from '@xo-union/tk-css-utilities/lib/flexbox';
  composes: py-down-2 px-down-1 from '@xo-union/tk-css-spacing';
}

.icon-button {
  composes: font-up-3 from '@xo-union/tk-css-typography';
  composes: fg-white from '@xo-union/tk-css-colors';
}
