@value menu-border from './menu-border';

.menu {
  composes: nav from '@xo-union/tk-css-bootstrap/lib/nav';
  composes: bg-white from '@xo-union/tk-css-colors';
  composes: flex-column from '@xo-union/tk-css-utilities/lib/flexbox';
  composes: light-shadow from '@xo-union/tk-css-utilities/lib/effects';
  composes: dropdown from './dropdown';

  border-bottom: menu-border;
  border-left: menu-border;
  border-right: menu-border;
}

.desktop-menu {
  composes: popup from './dropdown';
  composes: menu;
  width: 270px;
  /*
   * Achieve centering of dropdown menu.
   * This won't work perfectly for all elements because -65 is an estimate.
   * It will look less centered dependending on the size of the text of
   * the top-leve-nav item
   * */
  left: -65px;
}

.mobile-menu {
  composes: menu;
  width: 100%;
}

.primary-mobile-menu {
  composes: mobile-menu;
}

.primary-mobile-menu .upcase-if-primary-menu-item {
  text-transform: uppercase;
}
