@value ( var-knot-blue-lighter-70 ) from '@xo-union/tk-css-colors';
@value menu-border from './menu-border';

.main-menu-item {
  composes: flex-column justify-content-center from '@xo-union/tk-css-utilities/lib/flexbox';
  composes: d-flex from '@xo-union/tk-css-utilities/lib/display';
  composes: popup-show-on-hover from './dropdown';
}

.main-menu-item-right-offset {
  composes: main-menu-item;
  composes: ml-0 ml-xl-up-12 from '@xo-union/tk-css-spacing';
}

.main-menu-item-link {
  composes: text-uppercase from '@xo-union/tk-css-typography/lib/utilities';
  composes: py-up-2 px-down-1 from '@xo-union/tk-css-spacing';
  display: block;
  transition: opacity .25s ease-in-out 0s;
  color: inherit;

  &:hover {
    opacity: .6;
  }
}

.sub-menu-item-border {
  border-top: menu-border;
}

.sub-menu-item {
  composes: upcase-if-primary-menu-item from './menus';
  composes: sub-menu-item-border;
}

.sub-menu-item-spacing {
  composes: px-base py-down-1 from '@xo-union/tk-css-spacing';
}

.sub-menu-item-link {
  composes: d-block from '@xo-union/tk-css-utilities/lib/display';
  composes: sub-menu-item-spacing;

  &:hover {
    background-color: var-knot-blue-lighter-70;
  }
}

.sub-menu-back-button-item {
  composes: text-center text-uppercase from '@xo-union/tk-css-typography/lib/utilities';
  composes: sub-menu-item;
}

.sub-menu-back-button-caret {
  composes: fg-knot-blue from '@xo-union/tk-css-colors';
  composes: font-up-3 from '@xo-union/tk-css-typography';

  position: absolute;
  left: 0;
  composes: ml-down-1 from '@xo-union/tk-css-spacing';
}

.sub-menu-copy-right-item {
  composes: fg-gray-6 from '@xo-union/tk-css-colors';
  composes: sub-menu-item-border;
  composes: py-down-3 px-down-2 from '@xo-union/tk-css-spacing';
  composes: font-down-4 from '@xo-union/tk-css-typography';
}

.sub-menu-divider-item {
  composes: bg-background-gray-9 from '@xo-union/tk-css-colors';
  composes: sub-menu-item;
  height: .6em;
}

.sub-menu-account-item {
  composes: text-center from '@xo-union/tk-css-typography/lib/utilities';
  composes: sub-menu-item;
  composes: sub-menu-item-spacing;
}

.sub-menu-account-item-primary-button {
  composes: button from './buttons';
  composes: mb-down-1 from '@xo-union/tk-css-spacing';
}
