.menu-pointer {
  composes: fg-knot-blue from '@xo-union/tk-css-colors';
  composes: align-self-center from '@xo-union/tk-css-utilities/lib/flexbox';
  composes: popup from './dropdown';

  line-height: 0;

  &::after {
    content: '▲';
  }
}

