@value ( var-knot-blue ) from '@xo-union/tk-css-colors';

.sub-nav-container {
  composes: base-desktop-nav from './base-desktop-nav';
}

.sub-nav-item-list {
  composes: nav from '@xo-union/tk-css-bootstrap/lib/nav';
  composes: justify-content-center from '@xo-union/tk-css-utilities/lib/flexbox';

  flex-wrap: nowrap !important;
}

.sub-nav-item-link {
  composes: not-nav-text-color-hover from './nav-text-color';

  display: block;

  &:hover {
    color: var-knot-blue;
  }
}

.sub-nav-item {
  composes: py-down-1 px-up-6 from '@xo-union/tk-css-spacing';
}
