@value ( gray-2-border, gray-1-border, black-border ) from '#/fields/css/shared/borders';
@value ( gray-1 ) from '#/fields/css/shared/colors';
@value ( font-up-1 ) from '@xo-union/typography/sizes';

.field-base {
  font-size: font-up-1;
  -webkit-appearance: none;
  border: gray-2-border;
  // Fix firefox render error
  box-shadow: none;
  width: 100%;
  position: relative;
  display: block;

  &:hover,
  &:focus {
    border: black-border;
    outline: 0;
  }

  &:disabled {
    background: gray-1;
    border: gray-1-border;
  }
}

