@value (
  red,
  red-lighter-90,
  white,
  gray-4,
  black,
  green-lighter-80,
  green-lighter-90
) from '@xo-union/colors';

@value ( red-border ) from '#/fields/css/shared/borders';
@value ( spacer-x ) from '#/fields/css/shared/spacing';

@value (
  font-up-1,
  font-down-4,
  font-down-2
) from '@xo-union/typography/sizes';

.field {
  composes: field-base from '#/fields/css/styles/field-base';
  padding: 20px spacer-x 4px spacer-x;

  &:not(:placeholder-shown) ~ .field-label,
  &:focus ~ .field-label {
    font-size: font-down-4;
    margin-top: 6px;
  }

  &:disabled ~ .field-label {
    color: gray-3;
    text-decoration: line-through;
  }

  &:focus ~ .field-label {
    color: black;
  }
}

.invalid-field {
  composes: field;

  background-color: red-lighter-90;
  // Annoying that !important is
  // necessary for this to work
  border: red-border !important;
  transition: all 0.2s ease-out 1.5s;
}

.valid-field {
  composes: field;
  background-color: green-lighter-90;
}

.requirements {
  background-color: red;
  color: white;
  font-size: font-down-2;
  max-height: 0;
  overflow: hidden;
  padding: 0 spacer-x;
  transition: all 0.2s ease-out 1.5s;
}

/* Contextual styles */
.invalid-field ~ .requirements {
  max-height: 200px;
  padding: 5px spacer-x 4px;
}

.field-label {
  composes: label from '#/fields/css/styles/label';

  font-size: font-up-1;
  margin-left: 10px;
  margin-top: 14px;
  color: gray-4;
  transition: all 0.2s ease-out;
}

