@value black from '@xo-union/colors';

.label {
  position: absolute;
  top: 0;
  left: 0;
  cursor: text;
}

.small-label {
  composes: label;
  composes: fontDown4 from '@xo-union/typography';
  font-weight: 500;
}
