@value ( var-knot-blue ) from '@xo-union/tk-css-colors';

.container {
  padding: 0.68em 2em;
}

.icon {
  composes: icon-tk-logo from '@xo-union/tk-component-icons/lib/legacy';
  color: var-knot-blue;
  font-size: 35px;
}
