@value (
  var-black,
  var-white,
  var-knot-blue-darker-30,
  var-knot-blue-darker-60,
  var-safe-gray-5
) from '@xo-union/tk-css-colors';

@value item-hover-color: var-knot-blue-darker-30;
@value item-active-color: var-knot-blue-darker-60;
@value item-disabled-color: var-safe-gray-5;

.container {
  padding: 1.3em 2em;
}

.item {
  color: black;
}

.item:hover {
  color: item-hover-color;
}

.item:focus {
  color: item-active-color;
}

.active-item {
  composes: item;
  color: item-active-color;
}

.disabled-item {
  color: item-disabled-color !important;
  cursor: default;
}
