.sidenav {
  composes: col-md-2 from '@xo-union/bootstrap/grid';
  composes: py-3 from '@xo-union/bootstrap/utilities';
}

.article {
  composes: col from '@xo-union/bootstrap/grid';
}

/*
 * This feels a little hacky but is just to add some extra spacing in articles
 * */
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-top: 35px;
}

