@value ( gray-9-border, gray-10-border, black-border ) from '#/fields/css/shared/borders';
@value ( gray-10 ) from '@xo-union/colors';
@value ( font-up-1 ) from '@xo-union/typography/sizes';

.field-base {
  font-size: font-up-1;
  -webkit-appearance: none;
  border: gray-9-border;
  // Fix firefox render error
  box-shadow: none;
  width: 100%;
  position: relative;
  display: block;

  &:hover,
  &:focus {
    border: black-border;
    outline: 0;
  }

  &:disabled {
    background-color: gray-10;
    border: gray-10-border;
  }
}

