.bg-nav {
  background-color: #dfdfdf; }

.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.icon-general-xo-logo {
  width: 4.669921875em; }
