@value ( spacing-base ) from '@xo-union/tk-css-spacing/lib/variables';

.list-demo {
  composes: nav from '@xo-union/tk-css-bootstrap/lib/nav';
  composes: flex-column from '@xo-union/tk-css-utilities/lib/flexbox';

  li {
    margin-bottom: spacing-base;
  }
}
