@value ( var-sp-base ) from '@xo-union/tk-css-spacing';

.list-demo {
  composes: nav from '@xo-union/tk-css-bootstrap/lib/nav';
  composes: flex-column from '@xo-union/tk-css-utilities/lib/flexbox';

  li {
    margin-bottom: var-sp-base;
  }
}
