@value (
  gray-10,
  background-gray-9,
  background-gray-8,
  white
) from '@xo-union/colors';

@mixin theme($base, $accent) {
  .field,
  .dropdown-field,
  .dropdown-list,
  .textarea-with-label,
  .textarea-without-label,
  .textarea-label
  {
    background-color: $base;

    &:disabled {
      background-color: gray-10;
    }
  }

  .dropdown-item-is-selected {
    background-color: $accent;
  }
}

.field {
  composes: field from './styles/field';
}

.dropdown-field {
  composes: dropdown-field from './styles/dropdown-field';
}

.dropdown-list {
  composes: dropdown-list from './styles/dropdown-field';
}

.textarea-with-label {
  composes: textarea-with-label from './styles/textarea';
}

.textarea-without-label {
  composes: textarea-without-label from './styles/textarea';
}

.textarea-label {
  composes: textarea-label from './styles/textarea';
}

.dropdown-item-is-selected {
  composes: dropdown-item-is-selected from './styles/dropdown-item';
}

.gray-theme {
  @include theme(background-gray-9, background-gray-8);
}

.white-theme {
  @include theme(white, background-gray-9);
}
