.application-section {
  composes: section section-links from './section';
  composes: bg-background-gray-8 from '@xo-union/tk-css-colors';
  composes: flex-wrap from '@xo-union/tk-css-utilities/lib/flexbox';
}

