.footer {
  composes: font-down-1 from '@xo-union/tk-css-typography';
  composes: fg-safe-gray-5 from '@xo-union/tk-css-colors';

  // Reset all headers
  h3, h2 {
    margin: 0;
  }

  ul {
    margin-bottom: 0;
  }
}
