.footer {
  composes: font-down-1 from '@xo-union/tk-css-typography';
  composes: safe-gray-5-fg from '@xo-union/tk-css-colors/lib/utilities';

  // Reset all headers
  h3, h2 {
    margin: 0;
  }

  ul {
    margin-bottom: 0px;
  }
}
