@value ( safe-gray-5 ) from '@xo-union/tk-css-colors';
@value ( row ) from '@xo-union/tk-css-bootstrap/lib/grid';

.nav-item-text {
  composes: sans-serif font-down-1 from '@xo-union/tk-css-typography';
  composes: d-inline-block from '@xo-union/tk-css-utilities/lib/display';
}

.nav-item-horizontal-spacing {
  padding-left: .75em;
  padding-right: .75em;
}

.nav-item-vertical-spacing {
  padding-top: .5em;
}

.nav-item {
  composes: nav-item-horizontal-spacing;
  composes: nav-item-vertical-spacing;
  composes: d-md-inline-block from '@xo-union/tk-css-utilities/lib/display';
}

.nav-item-list {
  list-style: none;
  text-align: center;

}

.nav-link {
  &:hover, &:focus {
    color: safe-gray-5;
    opacity: .6;
    outline: none;
  }
}

.nav-link-with-icon {
  composes: disable-children-pointer-events from '@xo-union/tk-css-utilities/lib/pointer-events';
  composes: nav-link;
}