@import '~@sass/bootstrap-mixins-and-variables';
@value ( white, knot-blue, safe-gray-7 ) from '@xo-union/tk-css-colors';
@value ( font-up-2, font-up-3 ) from '@xo-union/tk-css-typography/lib/sizes';

.round-icon-container {
  composes: d-flex from '@xo-union/tk-css-utilities/lib/display';
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.social-icon-container {
  composes: round-icon-container;
  composes: white-bg knot-blue-fg from '@xo-union/tk-css-colors/lib/utilities';
  composes: disable-children-pointer-events from '@xo-union/tk-css-utilities/lib/pointer-events';

  transition: color,background-color .2s ease-in-out 0s;

  &:hover, &:focus {
    outline: none;
    background-color: knot-blue;
    color: white;
  }
}

.centered-icon {
  composes: m-auto from '@xo-union/tk-css-utilities/lib/spacing';
}

.social-nav-item {
  padding: 0 .3rem;
  composes: d-inline-block from '@xo-union/tk-css-utilities/lib/display';
}

.follow-us-nav-item {
  padding-top: 1.3rem;
  padding-right: 1.3rem;
  display: d-block from '@xo-union/tk-css-utilities/lib/display';
  composes: d-md-inline-block from '@xo-union/tk-css-utilities/lib/display';
}

.follow-us {
  composes: font-up-7 sans-serif from '@xo-union/tk-css-typography';
  line-height: 1em;
}

.social-section {
  composes: section from './section';
  composes: background-gray-8-bg from '@xo-union/tk-css-colors/lib/utilities';
  composes: font-up-7 from '@xo-union/tk-css-typography';
  border-bottom: 1px solid safe-gray-7;
}

@include media-breakpoint-down(sm) {
  .follow-us {
    font-size: font-up-2;
    padding-bottom: 1.25rem;
  }

  .round-icon-container {
    height: 1.8em;
    width: 1.8em;
  }
  .social-section {
    font-size: font-up-3;
  }
}