@import '~@sass/bootstrap-mixins-and-variables';

@value ( var-white, var-knot-blue, var-safe-gray-7 ) from '@xo-union/tk-css-colors';

.round-icon-container {
  composes: d-flex from '@xo-union/tk-css-utilities/lib/display';
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.social-icon-container {
  composes: round-icon-container;
  composes: bg-white fg-knot-blue from '@xo-union/tk-css-colors';
  composes: disable-children-pointer-events from '@xo-union/tk-css-utilities/lib/pointer-events';

  transition: color,background-color .2s ease-in-out 0s;

  &:hover, &:focus {
    outline: none;
    background-color: var-knot-blue;
    color: var-white;
  }
}

.centered-icon {
  composes: m-auto from '@xo-union/tk-css-spacing';
}

.social-nav-item {
  composes: py-0 px-down-3 from '@xo-union/tk-css-spacing';
  composes: d-inline-block from '@xo-union/tk-css-utilities/lib/display';
}

.follow-us-nav-item {
  composes: pt-up-1 pr-md-up-1 from '@xo-union/tk-css-spacing';
  composes: d-md-inline-block from '@xo-union/tk-css-utilities/lib/display';
}

.follow-us {
  composes: font-up-2 font-md-up-7 sans-serif from '@xo-union/tk-css-typography';
  composes: pb-up-1 from '@xo-union/tk-css-spacing';
  line-height: 1em;
}

.social-section {
  composes: section from './section';
  composes: bg-background-gray-8 from '@xo-union/tk-css-colors';
  composes: font-up-3 font-md-up-7 sans-serif from '@xo-union/tk-css-typography';
  border-bottom: 1px solid var-safe-gray-7;
}

@include media-breakpoint-down(sm) {
  .round-icon-container {
    height: 1.8em;
    width: 1.8em;
  }
}
