@value ( white ) from '@xo-union/colors';
@value light-blue: #eef7f8;

.demo-for-gray-theme {
  composes: py3 from '@xo-union/bootstrap/utilities';
  background-color: white;
}

.demo-for-white-theme {
  composes: py3 from '@xo-union/bootstrap/utilities';
  background-color: light-blue;
}
