@value ( white, jay-lighter-90 ) from '@xo-union/colors';

.demo-for-gray-theme {
  composes: py3 from '@xo-union/bootstrap/utilities';
  background-color: white;
}

.demo-for-white-theme {
  composes: py3 from '@xo-union/bootstrap/utilities';
  background-color: jay-lighter-90;
}
