@value ( white, lilac-tint-80 ) from '@union/colors';
@value light-blue: #eef7f8;

.demo-for-gray-theme {
  composes: py3 from '@union/bootstrap/lib/utilities';
  background-color: white;
}

.demo-for-white-theme {
  composes: py3 from '@union/bootstrap/lib/utilities';
  background-color: light-blue;
}
