@import '~@shared/bootstrap-sass-mixins-and-variables';

@value (
  white,
  coral,
  coral-lighter-10,
  coral-lighter-20,
  coral-lighter-40,
  coral-lighter-8-saturated
) from '@xo-union/tk-css-colors';

@value papa-min-width: 220px;
@value mama-min-width: 120px;
@value baby-min-width: initial;

.btn-transitions {
  transition: all .1s ease-out;
  transition-property: background-color, color, border-color;
}

.btn {
  composes: btn-transitions;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
}

.papa {
  composes: font-up-1 from '@xo-union/tk-css-typography';
  min-width: papa-min-width;
  line-height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.mama {
  min-width: mama-min-width;
  line-height: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.baby {
  composes: font-down-2 from '@xo-union/tk-css-typography';
  min-width: baby-min-width;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.primary {
  color: white;
  background: coral-lighter-20;
  border: 1px solid coral-lighter-20;

  &:hover,
  &:focus {
    color: white;
    background: coral-lighter-10;
    border: 1px solid coral-lighter-10;
  }

  &:active{
    background: coral;
    border: 1px solid coral-lighter-10;
  }
}

.secondary {
  color: coral-lighter-20;
  background: white;
  border: 1px solid coral-lighter-40;

  &:hover,
  &:focus {
    color: coral;
    border: 1px solid coral-lighter-10;
  }

  &:active {
    color: coral-lighter-8-saturated;
    border: 1px solid coral-lighter-8-saturated;
  }
}

.tertiary {
  color: coral-lighter-20;
  background: white;
  border: 1px hidden coral-lighter-40;

  &:hover,
  &:focus {
    color: coral;
    border: 1px hidden coral-lighter-10;
  }

  &:active {
    color: coral-lighter-8-saturated;
    border: 1px hidden coral-lighter-8-saturated;
  }
}

@mixin block() {
  display: block;
  width: 100%;
}

.block {
  @include block;
}

@include media-breakpoint-down(lg) {
  .block-lg {
    @include block;
  }
}

@include media-breakpoint-down(md) {
  .block-md {
    @include block;
  }
}

@include media-breakpoint-down(sm) {
  .block-sm {
    @include block;
  }
}

@include media-breakpoint-down(xs) {
  .block-xs {
    @include block;
  }
}


