@value ( safe-gray-7, black ) from '@xo-union/colors';

.header {
  composes: navbar navbar-toggleable from '@xo-union/bootstrap/navbar';
  background-color: safe-gray-7;
}

.link {
  composes: navbar-brand from '@xo-union/bootstrap/navbar';
  color: black;
}

.link:hover {
  color: black;
}
