@value (
  safe-gray-5,
  knot-blue,
  white,
  background-gray-8,
  knot-blue-lighter-70
) from '@xo-union/colors';

/* colors */
.white-bg {
  background-color: white;
}

.knot-blue-fg {
  color: knot-blue;
}

/* Borders */
@value menu-border: 1px solid background-gray-8;

/* Utilities */
.toggled {
  display: none;
}

.toggled:hover {
  display: block;
}

.toggles-on-hover:hover .toggled {
  display: initial;
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 0;
}

.dropdown-container {
  composes: align-self-center from '@xo-union/bootstrap/utilities';
  position: relative;
  width: 100%;
}

/* Nav */
.has-nav-links a {
  color: safe-gray-5;
}

.has-nav-links a:hover {
  color: safe-gray-5;
}

.nav {
  composes: nav from '@xo-union/bootstrap/nav';
  composes: justify-content-center from '@xo-union/bootstrap/utilities';
  composes: sans-serif-med font-down-2 from '@xo-union/typography';

  composes: has-nav-links;

  border-bottom: menu-border;
}

.nav-item {
  composes: d-flex flex-column justify-content-center from '@xo-union/bootstrap/utilities';
  composes: toggles-on-hover;
}

.nav-item-pushed-to-right {
  composes: nav-item;
  margin-left: 6.25rem;
}

.nav-link {
  composes: text-uppercase from '@xo-union/bootstrap/utilities';
  padding: 1.43rem .85rem;
  display: block;
  transition: opacity .25s ease-in-out 0s;
  color: inherit;
}

.nav-link:hover {
  opacity: .6;
}

.logo-container {
  padding: .5rem .85rem;
}

.logo {
  composes: icon-general-tk-logo from '@xo-union/icons';
  color: knot-blue !important;
  font-size: 2.5rem;
}

/* Effects */
.light-shadow {
  box-shadow: 0 .125rem .188rem 0 background-gray-8;
}

/* Menu */
.menu-pointer {
  composes: align-self-center from '@xo-union/bootstrap/utilities';
  composes: toggled;
  composes: knot-blue-fg;

  font-size: 1rem;
  line-height: 0;
}

.menu-pointer::after {
  content: '▲';
}

.menu {
  composes: nav from '@xo-union/bootstrap/nav';
  composes: flex-column from '@xo-union/bootstrap/utilities';
  composes: light-shadow;
  composes: toggled;
  composes: dropdown;
  composes: white-bg;

  border-bottom: menu-border;
  border-left: menu-border;
  border-right: menu-border;
  width: 270px;
  /*
   * Achieve centering of dropdown menu.
   * This won't work perfectly for all elements because -65 is an estimate.
   * It will look less centered dependending on the size of the text of
   * the top-leve-nav item
   * */
  left: -65px;
}

.menu-item {
  border-top: menu-border;
}

.menu-item-link {
  display: block;
  padding: .69rem 1rem;
}

.menu-item-link:hover {
  background-color: knot-blue-lighter-70;
}

.menu-item-link img {
  max-height: 15px;
  margin-right: 10px;
}

