@value ( var-knot-blue-darker-60 ) from '@xo-union/tk-css-colors';

.arrow-right {
  composes: align-middle from '@xo-union/tk-css-utilities/lib/vertical-align';
  composes: mr-base from '@xo-union/tk-css-spacing';

  display: inline-block;
  width: 0;
  height: 0;
  border-top: .4em solid transparent;
  border-bottom: .4em solid transparent;

  border-left: .5em solid var-knot-blue-darker-60;
}
