.list {
  composes: nav from '@xo-union/tk-css-bootstrap/lib/nav';
}

.vertical-list {
  composes: nav from '@xo-union/tk-css-bootstrap/lib/nav';
  composes: flex-column from '@xo-union/tk-css-utilities/lib/flexbox';
}
