@value var-jay-lighter-60 from '@xo-union/tk-css-colors';

.my-component-class {
  composes: bg-salmon fg-coral-lighter-90 from '@xo-union/tk-css-colors';
  font-size: 3em;
}

.my-component-class:hover {
  background-color: var-jay-lighter-60;
}
