@value jay-lighter-60 from '@xo-union/tk-css-colors';

.my-component-class {
  composes: salmon-bg coral-lighter-90-fg from '@xo-union/tk-css-colors/lib/utilities';
  font-size: 3em;
}

.my-component-class:hover {
  background-color: jay-lighter-60;
}
